.about-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-mint);
  color: var(--black);
  margin: 2em 0;
  padding: 4rem 3rem;
}
.about-text p  {
  line-height: 1.5;
  font-size: 1.1rem;
}

.profile-img  {
  width: 33%;
  float: right;
  margin-left: 1em;
  border-radius: 50%;
}