.navbar {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  height: 10rem;
  line-height: 15vh;
}

.navbar img {
  width: 4rem;
  margin-right: 2rem;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
}

.nav-item {
  cursor: pointer;
  height: 100%;
  transition: 0.5s;
  margin: 0 1.5em;
  flex-shrink: 2;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
}

.navbar-toggle {
  display: none;
  height: min-content;
  margin: 10px 0 0;
  cursor: pointer;
  order: 3;
}

.navbar-toggle .bar  {
  width: 3.5rem;
  height: 4px;
  margin-left: 2rem;
  margin-bottom: 12px;
  transition: .6s;
}

@media screen and (max-width: 768px) {
  .navbar  {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, min-content) 1fr;
  }
  .navbar-toggle  {
    justify-self: end;
    display: grid;
    background-color: var(--black);
  }
  .bar {
    width: 4rem;
    height: 5px;
    margin-right: 0;
    margin-bottom: 10px;

    background: var(--white);
    border-radius: 10%;
    transition: 0.6s;
  }
  
  .menu-open .nav-list {
    display: grid;
    position: absolute;
    background: var(--black);
    width: 100%;
    top: 15vh;
    left: 0;
    transform: translateY(-150%);
    transition: 0.6s;
    z-index: 2;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: right;
  }

  .menu-open .nav-item  {
    margin: 0;
    padding-right: 2rem;
  }

  body.dark .nav-item a.nav-link:active  {
    background-color: var(--off-black);
  }

  body.light a.nav-link, body.light .nav-item, body.light .navbar-toggle  {
    background-color: var(--white);
    color: var(--black);
  }

  body.light .navbar-toggle .bar  {
    background-color: var(--off-black);
  }
  
  .menu-open .navbar-toggle .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
  }
  
  .menu-open .navbar-toggle .bar:nth-child(2) {
    display: none;
  }
  
  .menu-open .navbar-toggle .bar:nth-child(3) {
    transform: rotate(-45deg);
  }

  .nav-list {
    display: none;
    position: absolute;
    background: var(--off-black);
    width: 100%;
    top: 10vh;
    left: 0;
    transform: translateY(-200%);
    transition: 0.6s;
    z-index: 2;
  }

  .menu-open .nav-list {
    transform: translateY(0);
    transition: transform 0.6s;
  }

  .menu-open .nav-item:active  {
    background-color: var(--off-black);
  }
}