.project  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  place-items: center;

  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.5rem;

  background-color: var(--secondary-coral);
  color: var(--white);
}

.project h4  {
  grid-column: 1 / 2;
  margin-bottom: 1rem;

  font-size: 1.5rem;
}

.project p  {
  font-size: 1.2rem;
}

.thumbnail-box  {
  width: 90%;
  height: max-content;
  margin-left: auto;
}

.thumbnail-box a  {
  text-decoration: none;
}

.project img  {
  width: 100%;
  border-radius: 0.5rem;
  grid-column: 2 / 3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}