/* Global Styles */
:root  {
  --white: #fbfdff;
  --black: #1b1e23;
  --off-black: #2b2f3a;
  --primary-mint: #00c399;
  --secondary-coral: #f97664;
  --accent-blue: #4b9fff;
  --accent-yellow: #ffd155;
  --accent-purple: #c89afd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--black);
  color: var(--white);
}
ul  {
  list-style-type: none;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* commented out rules from create-react-app App.css */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Main layout */

/* Tablet layout */
@media screen and (min-width: 768px) {
  .main-container  {
    grid-template-columns: repeat(2, 1fr);
  }
  .column  {
    grid-column: span 1;
  }
}

/* Desktop layout */
@media screen and (min-width: 992px)  {
  .main-container  {
    grid-template-columns: repeat(12, 1fr);
  }
  .column  {
    grid-column: span 2;
  }
}