/* Global Styles */
:root  {
  --white: #fbfdff;
  --black: #1b1e23;
  --off-black: #2b2f3a;
  --primary-mint: #00c399;
  --secondary-coral: #f97664;
  --accent-blue: #4b9fff;
  --accent-yellow: #ffd155;
  --accent-purple: #c89afd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
body.dark  {
  background-color: var(--black);
  color: var(--white);
}

body.light  {
  background-color: var(--white);
  color: var(--black);
}

body.light .header-text h1  {
  background-image: linear-gradient(120deg, var(--off-black), var(--accent-yellow), var(--primary-mint));
}

ul  {
  list-style-type: none;
}

body.dark .navbar ul li a  {
  background-color: var(--black);
  color: var(--white);
}

body.light .navbar ul li a  {
  background-color: var(--white);
  color: var(--black);
}

/* Main layout */
body  {
  width: 90%;
  margin: 0 auto;
}
article  {
  border-radius: 0.5rem;
  margin: 5rem 0;
}

/* Tablet layout */
@media screen and (min-width: 768px) {
  /* .main-container  {
    grid-template-columns: repeat(2, 1fr);
  }
  .column  {
    grid-column: span 1;
  } */
}

/* Desktop layout */
@media screen and (min-width: 992px)  {
  /* .main-container  {
    grid-template-columns: repeat(12, 1fr);
  }
  .column  {
    grid-column: span 2;
  } */
}